@import "~bootstrap/scss/bootstrap";

$navBar: #0a043c;
$background: #d0e8f2;
$text: #3a3c42;

body{
    background-color: $background;
    color: $text;
}

.navbar{
    background-color: $navBar;
    box-shadow: 0 5px 10px 0 rgba(10,15,100,0.3);
    margin-bottom: 50px;
    a{  
        color: whitesmoke;
    }

}